.Form {
  background-color: var(--dark-gray);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray);
}
.Form__Title {
  color: var(--light);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.Form__TextArea {
  width: 100%;
  resize: vertical;
  color: var(--light-white);
  min-height: 5rem;
  height: auto;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--light);
}
.Form__Form {
  display: flex;
  flex-direction: column;
}
.Form__Input {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--light);
}
