.center {
  margin-left: auto;
  margin-right: auto;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
/* MARGIN */
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
/* PADDING */
.p-3 {
  padding: 1rem;
}
