.Auth {
  background-color: var(--dark-gray);
  padding: 1.5rem 2rem;
  width: 20rem;
  border-radius: 2rem;
}
.Auth-Title {
  color: var(--light-white);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.Auth-Form {
  display: flex;
  flex-direction: column;
}
.Auth-Input {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--light-white);
}
.Auth-Submit {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.65rem 2rem;
  border: none;
  border-radius: 2rem;
  color: var(--light-white);
  background: #148cb8;
  outline: none;
}
.Auth-Error {
  color: var(--light-white);
}
