.Auth {
  background-color: rgb(26, 26, 27);
  padding: 1.5rem 2rem;
  width: 20rem;
  border-radius: 2rem;
}
.Auth-Title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.Auth-Form {
  display: flex;
  flex-direction: column;
}
.Auth-Input {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  border-color: rgb(52, 53, 54);
  border-width: 1px;
  color: white;
  background-color: rgb(26, 26, 27);
  outline: none;
}
.Auth-Submit {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.65rem 2rem;
  border: none;
  border-radius: 2rem;
  color: white;
  background: #148cb8;
}
