.Comment {
  margin-bottom: 1rem;
}
.Comment__Username {
  display: inline-block;
  text-decoration: none;
  color: var(--light-white);
  margin-bottom: 0.25rem;
}
.Comment__Username:hover {
  text-decoration: underline;
}
.Comment__Comment {
  color: var(--light-white);
}
