.CommentForm__TextArea {
  width: 100%;
  resize: vertical;
  background-color: var(--dark-gray);
  border: 1px solid var(--light-gray);
  color: white;
  min-height: 5rem;
  height: auto;
  margin-bottom: 0.25rem;
}

.CommentForm__Submit {
  display: flex;
  justify-content: flex-end;
}
