:root {
  --dark-gray: rgb(26, 26, 27);
  --gray: rgb(52, 53, 54);
  --light-gray: rgb(129, 131, 132);
  --light-white: rgb(215, 218, 220);
}
body {
  background-color: black;
  margin: 0;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
* {
  font-family: "IBM Plex Sans", Arial, sans-serif;
}
.PrimaryButton-Blue {
  color: var(--light-white);
  padding: 0.25rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background-color: #148cb8;
  text-decoration: none;
}
.PrimaryButton {
  color: var(--dark-gray);
  padding: 0.25rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--light-white);
  text-decoration: none;
}
.SecondaryButton {
  color: var(--light-white);
  padding: 0.25rem 1rem;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  border-radius: 0.25rem;
  border-color: var(--light-white);
  text-decoration: none;
}
